<div class="header row">
    <h1 class="col-4 offset-4 text-center">Quote Book</h1>
    <div class="row col-3 offset-1 profile-dropdown">
        <p class="col-8 text-right pr1">{{userName}}</p>
        <div class="col-4 navbar-collapse">
            <ul class="navbar-nav" style="float: right; width: 100px; margin-right: 1em;">
                <li class="nav-item dropdown pl-3 text-center">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img [src]="profilePic ? profilePic : '/assets/img/profile-pic.webp'" width="40" height="40"
                        class="rounded-circle">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" style="margin-right: 1em;"
                    aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" style="cursor:pointer">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>