.quote-text {
    width: 80%;
    margin: 0 0 0 30px;
    border-left: solid 4px #F2E366;
    padding-left: 15px;
}

hr {
    width: 80%;
    margin: 0 0 0 30px;
}

.quote {
    margin: 15px 0 0 0;
}

.book-list {
    width: 1000px;
}

.board {
    height: 85vh;
}